<!DOCTYPE html>
<html>
<head>
    <title>YOLO Upload</title>
</head>
<body>
    <h1>{{ Message }}</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>
    {% if uploaded_img_path %}
    <h2>Uploaded Image:</h2>
    <img src="{{ uploaded_img_path }}" alt="Uploaded Image" style="max-width: 500px;">
    {% endif %}
    {% if processed_img_path %}
    <h2>Processed Image:</h2>
    <img src="{{ processed_img_path }}" alt="Processed Image" style="max-width: 500px;">
    {% endif %}
</body>
</html>
